<h2 class="text-center">My bookings</h2>

<div class="container">
  <div class="row justify-content-around">
      <% @bookings.each do |booking| %>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <%= (render partial: 'shared/booking_card', locals: { booking: booking }) %>
        </div>
      <% end %>
  </div>
</div>
