<div class="container">
<h2>My bookings</h2>
  <div class="row">
      <% @bookings.each do |booking| %>
        <div class="col-sm-12 col-md-12 col-lg-12">
          <%= (render partial: 'shared/booking_card', locals: { booking: booking }) %>
        </div>
      <% end %>
  </div>
</div>


