<div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= space.title %></h5>
      <p class="card-text"><%= space.category %></p>
      <p class="card-text">Description: <%= space.description %></p>
      <p class="card-text"><%= space.location %></p>

    </div>
  </div>
</div>
