.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

// .navbar-search-hide {
//   display: none;
// }

.navbar-lewagon-transparent {
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.simple_form input[type='text'] {
  width: 30vw;
}

.search-size {
  height: 100px;
}

.navbar-landing a {
    color: white;
}
